:19080 {
	header Access-Control-Allow-Origin *
	header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
	header Access-Control-Allow-Headers "*"

	@cors_preflight method OPTIONS
	handle @cors_preflight {
		respond "" 204
	}

	reverse_proxy http://192.168.50.91:30055 {
		header_down -Access-Control-Allow-Origin
	}
}
